unsafe-perm = true
legacy-peer-deps = true
engine-strict=true
cache = ~/.npm
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas/
@terminus:registry=https://registry.npm.terminus.io
registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
